/*==================================
=            MAIN STYLE            =
==================================*/

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-Bold.otf");
  font-weight: 700;
}

/* GLOBAL */
/*===============================
=            HELPERS            =
===============================*/
/*  BORDER HELPERS */
.border-bottom {
  border-bottom: 1px solid #ececec;
}
.border-top {
  border-top: 1px solid #ececec;
}
.border-right {
  border-right: 1px solid #ececec;
}
.border-left {
  border-left: 1px solid #ececec;
}
/*  ALIGNMENT HELPERS */
.align-bottom {
  vertical-align: bottom;
}
/*  MARGIN HELPERS */
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.margin-top-large {
  margin-top: calc(2rem * 2);
}
.margin-top {
  margin-top: 2rem;
}
.margin-bottom {
  margin-bottom: 2rem;
}
.margin-bottom-large {
  margin-bottom: calc(2rem * 2);
}
/*  STYLE HELPERS */
.no-shadow {
  box-shadow: none !important;
}
.hr {
  margin-top: calc(2rem / 2);
  margin-bottom: calc(2rem / 2);
}
.clickable {
  cursor: pointer;
}
/*  LAYOUT HELPERS */
.expand {
  height: 100% !important;
}
.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inlineBlock {
  display: inline-block !important;
}
.center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
/* VISIBILITY HELPERS*/
.invisible {
  visibility: hidden;
}
.hidden-xs {
  display: none !important;
}
.hidden-md {}
@media (max-width: 768px) {

  .hidden-md {
    display: none;
  }
}
.hidden-lg {}
@media (max-width: 992px) {

  .hidden-lg {
    display: none;
  }
}
/* TRANSFORMATION HELPERS */
.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/* TEXT HELPERS */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

/* LAYOUT */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #011323;
  color: #fff;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body #ReactApp, body .ReactApp {
  height: 100%;
}
/*================================
=            BUTTONS            =
================================*/
.button, button {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  border: none;
  background-color: #1193FF;
  box-shadow: 0 2px 0 #00569D;
}
.button.button-alert, button.button-alert {
  background-color: #FF0000;
  box-shadow: 0 2px 0 #970808;
}
.button.button-alert.button-outline, button.button-alert.button-outline {
  border: 1px solid  #FF0000;
  color: #FF0000;
}
.button.button-alert.button-outline:focus, .button.button-alert.button-outline:hover, button.button-alert.button-outline:focus, button.button-alert.button-outline:hover {
  border-color: #970808;
  color: #970808;
}
.button.button-alert:hover, .button.button-alert:focus, button.button-alert:hover, button.button-alert:focus {
  background-color: #970808;
  box-shadow: 0 2px 0 #970808;
}
.button.button-warning, button.button-warning {
  background-color: #FF9A00;
  box-shadow: 0 2px 0 #A76500;
}
.button.button-warning.button-outline, button.button-warning.button-outline {
  border: 1px solid  #FF9A00;
  color: #FF9A00;
}
.button.button-warning.button-outline:focus, .button.button-warning.button-outline:hover, button.button-warning.button-outline:focus, button.button-warning.button-outline:hover {
  border-color: #A76500;
  color: #A76500;
}
.button.button-warning:hover, .button.button-warning:focus, button.button-warning:hover, button.button-warning:focus {
  background-color: #A76500;
  box-shadow: 0 2px 0 #A76500;
}
.button.button-success, button.button-success {
  background-color: #00C618;
  box-shadow: 0 2px 0 #00780F;
}
.button.button-success.button-outline, button.button-success.button-outline {
  border: 1px solid  #00C618;
  color: #00C618;
}
.button.button-success.button-outline:focus, .button.button-success.button-outline:hover, button.button-success.button-outline:focus, button.button-success.button-outline:hover {
  border-color: #00780F;
  color: #00780F;
}
.button.button-success:hover, .button.button-success:focus, button.button-success:hover, button.button-success:focus {
  background-color: #00780F;
  box-shadow: 0 2px 0 #00780F;
}
.button.button-clear, button.button-clear {
  box-shadow: none;
}
.button.button-clear:focus, .button.button-clear:hover, button.button-clear:focus, button.button-clear:hover {
  box-shadow: none;
}
.button.button-outline, button.button-outline {
  border: 1px solid #1193FF;
  color: #1193FF;
  box-shadow: none;
}
.button.button-outline:focus, .button.button-outline:hover, button.button-outline:focus, button.button-outline:hover {
  border-color: #00569D;
  color: #00569D;
  box-shadow: none;
}
.button.button-larger, button.button-larger {
  font-size: 2.1rem;
  height: 6.75rem;
  line-height: 6.75rem;
  padding: 0 3rem;
}
.button.button-large, button.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
.button.button-small, button.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
.button.button-disabled, .button[disabled='disabled'], .button[disabled='true'], .button[disabled=''], button.button-disabled, button[disabled='disabled'], button[disabled='true'], button[disabled=''] {
  box-shadow: 0 2px 0 #ececec !important;
  pointer-events: none;
  color: #ccc;
  background-color: #ececec;
}
.button:hover, .button:focus, button:hover, button:focus {
  background-color: #00569D;
  box-shadow: 0 2px 0 #00569D;
}
.button:hover, .button:focus, button:hover, button:focus {
  background-repeat: none;
  background-image: none;
  text-decoration: none;
  outline: none;
}
input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  color: #fff;
}
input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border: 0.1rem solid #1193FF;
  outline: 0;
}
input[type='email'].input-large, input[type='number'].input-large, input[type='password'].input-large, input[type='search'].input-large, input[type='tel'].input-large, input[type='text'].input-large, input[type='url'].input-large, textarea.input-large, select.input-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
input[type='email'].valid, input[type='number'].valid, input[type='password'].valid, input[type='search'].valid, input[type='tel'].valid, input[type='text'].valid, input[type='url'].valid, textarea.valid, select.valid {
  border: 0.1rem solid #00C618;
}
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #1193FF;
  border: 0.1rem solid #00569D;
  border-radius: 0.4rem;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.button:hover, .button:focus, button:hover, button:focus, input[type='button']:hover, input[type='button']:focus, input[type='reset']:hover, input[type='reset']:focus, input[type='submit']:hover, input[type='submit']:focus {
  background-color: #00569D;
  color: #ffffff;
  outline: 0;
}
.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
  color: #1193FF;
  background-color: transparent;
}
.button.button-outline:hover, .button.button-outline:focus, button.button-outline:hover, button.button-outline:focus, input[type='button'].button-outline:hover, input[type='button'].button-outline:focus, input[type='reset'].button-outline:hover, input[type='reset'].button-outline:focus, input[type='submit'].button-outline:hover, input[type='submit'].button-outline:focus {
  color: #00569D;
  border-color: #00569D;
  background-color: transparent;
}
.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
  color: #1193FF;
  background-color: transparent;
}
.button.button-clear:hover, .button.button-clear:focus, button.button-clear:hover, button.button-clear:focus, input[type='button'].button-clear:hover, input[type='button'].button-clear:focus, input[type='reset'].button-clear:hover, input[type='reset'].button-clear:focus, input[type='submit'].button-clear:hover, input[type='submit'].button-clear:focus {
  color: #00569D;
  background-color: transparent;
}
