.root {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #efefef;
  color: #333;

}

.container {
  display: flex;
  height: 100%;
}

.vCenter {
  align-items: center;
}

.hCenter {
  justify-content: center;
}

.muted {
  color: #888;
}

.normal {
  font-weight: 400;
}
