html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  @extend html;

  background-color: $background-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}
