html {
  height: 100%;
  margin:0;
  padding:0;
}

body {
  @extend html;
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family-base;

  #ReactApp, .ReactApp {
    height: 100%;
  }
}
