$white: #fff;
$black: #333;

$gray: #ececec;
$dark-gray: #ccc;

$text-color: $black;

$border-color: $gray;

$accent-color: #1193FF;
$dark-accent-color: #00569D;
$darker-accent-color: #011323;

$opposite-color: #FF9A00;
$dark-opposite-color: #A76500;

$success-color: #00C618;
$dark-success-color: #00780F;

$danger-color: #FF0000;
$dark-danger-color: #970808;

$background-color: $white;
$page-header-color: $white;
$panel-header-color: $white;

$link-color: $accent-color;
$link-hover-color: $dark-accent-color;

$background-color: $darker-accent-color;
$text-color: $white;
