/*===============================
=            HELPERS            =
===============================*/

/*  BORDER HELPERS */
.border-bottom {
  border-bottom: 1px solid $border-color;
}

.border-top {
  border-top: 1px solid $border-color;
}

.border-right {
  border-right: 1px solid $border-color;
}

.border-left {
  border-left: 1px solid $border-color;
}

/*  TYPE HELPERS */
.slight-highlight {
  cursor: pointer;
  border-bottom: 1px dotted;

  &:active, &:hover, &:focus {
    text-decoration: none !important;
    border-bottom: none;
  }
}

.text-muted {
  color: $text-muted;
}

.text-warning {
  font-weight: 600;
  color: $yellow-color !important;
}

.text-danger {
  font-weight: 600;
  color: $red-color !important;
}

.text-success {
  font-weight: 600;
  color: $green-color !important;
}

.text-light {
  font-weight: 300 !important;
}

.text-strong {
  font-weight: 600 !important;
}

.text-stronger {
  font-weight: 900 !important;
}

/*  ALIGNMENT HELPERS */
.align-bottom {
  vertical-align: bottom;
}

/*  MARGIN HELPERS */
.no-margin {
  margin: 0 !important;
}

.margin-top {
  margin-top: $spacing-unit;
}

.margin-top-sm {
  margin-top: $spacing-unit / 2;
}

.margin-top-xsm {
  margin-top: $spacing-unit / 4;
}

/*  STYLE HELPERS */
.no-shadow {
  box-shadow: none !important;
}

.hr {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

.clickable {
  cursor: pointer;
}

/*  LAYOUT HELPERS */
.block {
  display: block !important;
}

.hidden-xs {
  display: none !important;
}
