
/*===============================
=            HELPERS            =
===============================*/

/*  BORDER HELPERS */
.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-top {
  border-top: 1px solid $border-color;
}
.border-right {
  border-right: 1px solid $border-color;
}
.border-left {
  border-left: 1px solid $border-color;
}

/*  ALIGNMENT HELPERS */
.align-bottom {
  vertical-align: bottom;
}

/*  MARGIN HELPERS */
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.margin-top-large {
  margin-top: calc($spacing-unit * 2);
}
.margin-top {
  margin-top: $spacing-unit;
}
.margin-bottom {
  margin-bottom: $spacing-unit;
}
.margin-bottom-large {
  margin-bottom: calc($spacing-unit * 2);
}

/*  STYLE HELPERS */
.no-shadow {
  box-shadow: none !important;
}
.hr {
  margin-top: calc($spacing-unit / 2);
  margin-bottom: calc($spacing-unit / 2);
}
.clickable {
  cursor: pointer;
}

/*  LAYOUT HELPERS */
.expand {
  height: 100% !important;
}

.block {
  display: block !important;
}
.inline {
  display: inline !important;
}
.inlineBlock {
  display: inline-block !important;
}
.center {
  align-self: center;
}

/* VISIBILITY HELPERS*/
.invisible {
  visibility: hidden;
}
.hidden-xs {
  display: none !important;
}
.hidden-md {
  @media (max-width: $tablet) {
    display: none;
  }
}
.hidden-lg {
  @media (max-width: $desktop) {
    display: none;
  }
}

/* TRANSFORMATION HELPERS */
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}

/* TEXT HELPERS */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
