@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.root {
  background-color: $background-color;
  padding-bottom: $spacing-unit;
  padding-top: $spacing-unit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
